@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.layout-wrapper {
  /* min-width: 97vw; */
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-header {
  box-sizing: border-box;
  padding: 1em 2em 0.7em 2em;
  background-color: #21008C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-title {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  line-height: 0;
}

.button {
  margin: 0 0.5em;
  padding: 0.2em 1em;
  border: none;
  border-radius: 2px;
}

.button-light {
  background-color: #fff;
  color: #FF6C00;
}

.button-dark {
  background-color: #FF6C00;
  color: #fff;
}
